/* nav bar */

h5 {
    float: left;
    width: 30%;
    font-size: 20px;
    font-style: normal;
    font-weight: inherit;
    color: black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

li {
    padding: 13px;
    display: inline-block;
}

ul {
    float: right;
}

a {
    font-size: 20px;
    text-decoration: none;
    color: black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

button {
    color: white;
    background-color: black;
    padding: 15px 1px;
    border-radius: 45px;
    font-size: 20px;
    width: 160px;
}

.clear {
    clear: both;
}

/* Two columns */